.navbar ul {
    height: 80px;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transform: translate(0%,-6%);
    background-color: #3d3d3d;
}

.navbar li {
    display: inline-block;
    transform: translate(0%,-2%);
    border: 0px;
}

.navbar li a {
    display: block;
    font-family: Smooch, sans-serif;
    line-height: 42px;
    font-size: 35px;
    color: white;
    padding: 19px 32px;
    text-decoration: none;
    text-shadow: 2px 2px black;
}

.active {
    background-color: #111;
}

.navbar li a:hover {
     background-color: #262626;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.sticky + .content {
    padding-top: 60px;
}
