@import "global.css";

*{
    margin:0;
    padding:0;
}

hr.solid {
    border-top: 3px solid black;
    margin-bottom: 28px;
    width: 340px;
    z-index: 1;
}


.box1 {
    font-family: var(--future_font);
    position: relative;
    text-align: left;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: 0px solid;
    border-radius: 50px;
    background-color: #e9ecef;
    margin: 5% 7%;
    padding: 2.5vw 5vw;
    box-shadow: 7px 7px 5px gray;
}

.box1 p {
    font-size: clamp(0px, 4vw, 30px);
}

.box1 h1 {
    font-family: var(--normal_font);
}


.box1 img {
    display: flex;
    object-fit: cover;
    padding-top: 50px;
    position: relative;
    width: clamp(27vw, 27vw, 600px);
    height: clamp(15vw, 15vw, 600px);
}

#about-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#table-of-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: auto;
  border: 3px outset;
  border-radius: 15px;
  background-color: #e9ecef;
  padding-top: 15px;
  padding-bottom: 30px;
  margin: 5% 7%;
  margin-right: 0px;

  /* the border styling similar to as box1*/
  border: 0px solid;
  border-radius: 20px;
  box-shadow: 7px 7px 5px gray;
}

#table-of-contents a {
  font-family: var(--future_font);
  font-size: 30px;
  text-decoration: none;
  color: rgb(0, 86, 172);
  margin-left: 40px;
}

#table-of-contents a:hover {
  text-decoration: underline;
}

#table-of-contents h2 {
  font-family: var(--normal_font);
  font-size: 40px;
  margin: 30px;
  margin-top: 0px;
  margin-bottom: 15px;
}

