*{
  margin:0;
  padding:0;
}

@font-face {
  font-family: Atarian;
  src: url(fonts/SFAtarianSystem.ttf);
}

@font-face {
  font-family: Neotaric;
  src: url(fonts/Neotaric-32A8.ttf);
}

@font-face {
  font-family: Above;
  src: url(fonts/Above.ttf);
}

@font-face {
  font-family: Smooch;
  src: url(fonts/Smooch.ttf);
}

body {
  height: 100%;
  width: 100%;
  position: relative;
}

h1{
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 38px;
}

.content{
  font-family: Smooch, sans-serif;
  position: relative;
  text-align: center;
}

.content .box1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: 0px solid;
    border-radius: 50px;
    background-color: #e9ecef;
    margin: 5% 7%;
    padding: 2% 10%;
}

.content .box1 p {
    font-size: 30px;
}

.content .box1 img {
    display: flex;
    object-fit: cover;
    padding-top: 30px;
    position: relative;
    width: clamp(27vw, 27vw, 600px);
    height: clamp(15vw, 15vw, 600px);
}

#table-of-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 3%;
}

#table-of-contents a {
  font-family: Smooch;
  font-size: 20px;
  color:dodgerblue;
}

#table-of-contents a:hover {
  background-color: rgb(209, 209, 209);
}

#table-of-contents h2 {
  font-family: Above;
  font-size: 40px;
  margin: 20px;
}

