@import url("global.css");

.grid{
    display: grid;
    grid-template-columns: 1fr 33vw 1fr;
    grid-template-rows: 26vw 26vw;
    place-items: center;
    background-color: var(--grid-color);
}

.grid .box {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    /*var(--box-color)*/
    background-color: var(--lightgrey);
    text-align: center;
    width: clamp(27vw, 27vw, 600px);
    height: clamp(23vw, 23vw, 600px);
    box-shadow: 7px 7px 5px gray;
}

.grid .box t{
    text-align: center;
    margin-top: calc(clamp(23vw, 23vw, 600px) * 0.10);
    font-size: 1.5em;
}

.grid .dropbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 0;
}

.grid .dropbox p{
    font-size: 0rem;
}

.grid .box img {
    object-fit: cover;
    position: relative;
    width: clamp(27vw, 27vw, 600px);
    height: calc(clamp(23vw, 23vw, 600px) * 0.66);
}

.grid .box:hover img{
    height: calc(clamp(23vw, 23vw, 600px) * 0.66 - clamp(10px, 6vw, 100px));
}

.grid .box:hover .dropbox p{
    font-size: 1.5vw;
}

.grid .box:hover .dropbox{
    height: clamp(10px, 6vw, 100px);
}

@media screen and (max-width: 800px) {
    .grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .grid .box {
        display: flex;
        justify-content: top;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: #e9ecef;
        margin-top: 5rem;
        width: clamp(66vw, 66vw, 600px);
        height: clamp(66vw, 66vw, 600px);
    }


    .grid .box img{
        object-fit: cover;
        position: relative;
        width: clamp(66vw, 66vw, 600px);
        height: calc(clamp(66vw, 66vw, 400px) * 0.66);
    }

    .grid .box t{
        text-align: center;
        margin-top: calc(clamp(66vw, 66vw, 400px) * 0.10);
        font-size: clamp(10px, 3rem, 5vw);
    }

    .dropbox p{
        font-size: 0rem;
    }

    .grid .box:hover img{
        height: calc(clamp(66vw, 66vw, 400px) * 0.66 - clamp(10px, 12vw, 600px));
    }

    .grid .box:hover .dropbox p{
        font-size: 4vw;
    }

    .grid .box:hover .dropbox{
        height: clamp(10px, 12vw, 600px);
    }
}
