@import "global.css";

.grid{
    display: grid;
    grid-template-columns: var(--columns);
    grid-template-rows: var(--rows);
    place-items: center;
    background-color: var(--background_color, --invisible);

}

.grid .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    /*var(--box-color)*/
    background-color: var(--box_color, --invisible);
    text-align: center;
    width: clamp(var(--box_width), var(--box_width), 600px);
    height: clamp(var(--box_height), var(--box_height), 600px);
    box-shadow: var(--shadow, --invisible);
    transition: all .2s ease-in-out;
}

.grid .blankbox{
    background-color: var(--invisible);
    width: clamp(var(--box_width), var(--box_width), 600px);
    height: clamp(var(--box_height), var(--box_height), 600px);
}

.grid .box t{
    text-align: center;
    margin-top: calc(clamp(var(--box_height), var(--box_height), 600px) * 0.10);
    transform: Translate(0, calc(var(--box_height) * -0.060764));
    font-family: var(--fancy_font);
    font-size: clamp(0px, calc(var(--box_width)/7.5), 3vw);
}

.grid .box h1{
    text-align: center;
    margin-top: calc(clamp(var(--box_height), var(--box_height), 600px) * 0.10);
    transform: Translate(0, calc(var(--box_height) * -0.060764));
    font-family: var(--fancy_font);
    font-size: clamp(0px, calc(var(--box_width)/7.5), 3vw);
}

.grid .dropbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 0;
    transition: all .2s ease-in-out;
}

.grid .dropbox p{
    font-family: var(--future_font);
    font-size: 0rem;
    text-align: center;
}

.grid .box img {
    object-fit: cover;
    position: relative;
    transform: Translate(0, calc(var(--box_height) * -0.060764));
    width: clamp(var(--box_width), var(--box_width), 600px);
    height: calc(clamp(var(--box_height), var(--box_height), 600px) * 0.66);
    background-color: var(--image_color);
}

.grid .box a{
    font-size: 0px; /*funny that the image link will require this to have 2 sentence name, showing*/
}

.grid .box:hover{
    transform: scale(1.08);
}

.grid .box:hover img{
    /*height: calc(clamp(var(--box_height), var(--box_height), 600px) * 0.66 - clamp(10px, var(--dropbox_height), 100px));*/
    transform: scale(1, 1/0.66)
}

.grid .box:hover .dropbox{
    height: clamp(10px, var(--dropbox_height), 100px);
}

.grid .box:hover t{
    font-size: 0;
    margin-top: 0;
}

.grid .box:hover .dropbox p{
    font-size: 2vw;
    text-align: center;
}

@media screen and (max-width: 800px){
    .grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: var(--mobile_flex_direction);
    }

    .grid .box {
        display: flex;
        justify-content: top;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: var(--box_color, --invisible);
        margin-top: clamp(calc(var(--box_height) * var(--mobile_scale) * 0.1), calc(var(--box_height) * var(--mobile_scale) * 0.1), 60px);;
        width: clamp(calc(var(--box_width) * var(--mobile_scale)), calc(var(--box_width) * var(--mobile_scale)), 600px);
        height: clamp(calc(var(--box_height) * var(--mobile_scale)), calc(var(--box_height) * var(--mobile_scale)), 600px);
    }

    .grid .blankbox{
        background-color: var(--invisible);
        width: clamp(var(--box_width), var(--box_width), 600px);
        height: clamp(var(--box_height), var(--box_height), 600px);
    }

    .grid .box img{
        object-fit: cover;
        position: relative;
        transform: Translate(0, calc(var(--box_height) * var(--mobile_scale) * -0.1));
        width: clamp(calc(var(--box_width) * var(--mobile_scale)), calc(var(--box_width) * var(--mobile_scale)), 600px);
        height: calc(clamp(calc(var(--box_height) * var(--mobile_scale)), calc(var(--box_height) * var(--mobile_scale)), 400px) * 0.66);
    }

    .grid .box t{
        text-align: center;
        transform: Translate(0, calc(var(--box_height) * var(--mobile_scale) * -0.060764));
        margin-top: calc(clamp(calc(var(--box_width) * var(--mobile_scale)), calc(var(--box_width) * var(--mobile_scale)), 400px) * 0.10);
        font-size: clamp(10px, calc(var(--box_width)/7.5), 5vw);
    }

    .grid .box h1{
        text-align: center;
        transform: Translate(0, calc(var(--box_height) * var(--mobile_scale) * -0.060764));
        margin-top: calc(clamp(calc(var(--box_width) * var(--mobile_scale)), calc(var(--box_width) * var(--mobile_scale)), 400px) * 0.10);
        font-size: clamp(10px, calc(var(--box_width)/7.5), 5vw);
    }

    .dropbox p{
        font-size: 0rem;
        width: clamp(calc(var(--box_width) * var(--mobile_scale)), calc(var(--box_width) * var(--mobile_scale)), 600px);
    }

    .grid .box:hover img{
        height: calc(clamp(calc(var(--box_width) * var(--mobile_scale)), calc(var(--box_width) * var(--mobile_scale)), 400px) * 0.66 - clamp(10px, calc(var(--dropbox_height) * var(--mobile_scale)), 100px));
    }

    .grid .box:hover .dropbox p{
        font-size: clamp(0px, calc(var(--box_width)/10), 4vw);;

    }

    .grid .box:hover .dropbox{
        height: clamp(10px, calc(var(--dropbox_height) * var(--mobile_scale)), 100px);
    }
}
