@import "global.css";

.grid{
    display: grid;
    grid-template-columns: var(--columns);
    grid-template-rows: var(--rows);
    place-items: center;
    background-color: var(--background_color, --invisible);
}

.grid .box {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    /*var(--box-color)*/
    background-color: var(--box_color, --invisible);
    text-align: center;
    width: clamp(var(--box_width), var(--box_width), 600px);
    height: clamp(var(--box_height), var(--box_height), 600px);
    box-shadow: var(--shadow);
}

.grid .box t{
    text-align: center;
    margin-top: calc(clamp(var(--box_height), var(--box_height), 600px) * 0.10);
    font-family: var(--fancy_font);
    font-size: clamp(0px, calc(var(--box_width)/7.5), 3vw);
}

.grid .dropbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 0;
}

.grid .dropbox p{
    font-size: 0rem;
}

.grid .box img {
    object-fit: cover;
    position: relative;
    width: clamp(var(--box_width), var(--box_width), 600px);
    height: calc(clamp(var(--box_height), var(--box_height), 600px) * 0.66);
}

.grid .box:hover img{
    height: calc(clamp(var(--box_height), var(--box_height), 600px) * 0.66 - clamp(10px, var(--dropbox_height), 100px));
}

.grid .box:hover .dropbox p{
    font-size: clamp(0px, calc(var(--box_width)/10), 1.5vw);
}

.grid .box:hover .dropbox{
    height: clamp(10px, var(--dropbox_height), 100px);
}

@media screen and (max-width: 800px) {
    .grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .grid .box {
        display: flex;
        justify-content: top;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: #e9ecef;
        margin-top: 5rem;
        width: clamp(calc(var(--box_width) * var(--mobile_scale)), calc(var(--box_width) * var(--mobile_scale)), 600px);
        height: clamp(calc(var(--box_height) * var(--mobile_scale)), calc(var(--box_height) * var(--mobile_scale)), 600px);
    }


    .grid .box img{
        object-fit: cover;
        position: relative;
        width: clamp(calc(var(--box_width) * var(--mobile_scale)), calc(var(--box_width) * var(--mobile_scale)), 600px);
        height: calc(clamp(calc(var(--box_height) * var(--mobile_scale)), calc(var(--box_height) * var(--mobile_scale)), 400px) * 0.66);
    }

    .grid .box t{
        text-align: center;
        margin-top: calc(clamp(calc(var(--box_width) * var(--mobile_scale)), calc(var(--box_width) * var(--mobile_scale)), 400px) * 0.10);
        font-size: clamp(10px, calc(var(--box_width)/7.5), 5vw);
    }

    .dropbox p{
        font-size: 0rem;
        width: clamp(calc(var(--box_width) * var(--mobile_scale)), calc(var(--box_width) * var(--mobile_scale)), 600px);
    }

    .grid .box:hover img{
        height: calc(clamp(calc(var(--box_width) * var(--mobile_scale)), calc(var(--box_width) * var(--mobile_scale)), 400px) * 0.66 - clamp(10px, calc(var(--dropbox_height) * var(--mobile_scale)), 100px));
    }

    .grid .box:hover .dropbox p{
        font-size: clamp(0px, calc(var(--box_width)/10), 4vw);;

    }

    .grid .box:hover .dropbox{
        height: clamp(10px, calc(var(--dropbox_height) * var(--mobile_scale)), 100px);
    }
}
