footer{
  display: inline-block;
  font-size: 22px;
  font-family: Smooch, sans-serif;
  text-align: center;
  color: #e9ecef;
  background-color: #343a40;
  position: relative;
  bottom: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer .contact{
  margin-top: 35px;
  margin-bottom: 35px;
}

footer .contact p{
  margin-top: 20px;
  margin-left: 2%;
  margin-right: 2%;
  display: inline-block;
}