:root{
    /*    --e: #e9ecef;    */
    --grey_h: 0;
    --grey_s: 0%;
    --grey_l: 18%;
    --darkgrey: hsl(var(--grey_h), var(--grey_s), calc(var(--dark) + var(--grey_l) + 8%));
    --grey: hsl(var(--grey_h), var(--grey_s), calc(var(--normal) + var(--grey_l)));
    --lightgrey: hsl(var(--grey_h), var(--grey_s), calc(var(--light) + var(--grey_l)));

   
    --dark: 0%;
    --normal: 50%;
    --light: 75%; 
}