@font-face {
    font-family: Atarian;
    src: url(fonts/SFAtarianSystem.ttf);
}

@font-face {
    font-family: Rajdhani-Regular;
    src: url(fonts/Rajdhani-Regular.ttf);
}

@font-face {
    font-family: AdventPro-Light;
    src: url(fonts/AdventPro-Light.ttf);
}


@font-face {
    font-family: Neoteric;
    src: url(fonts/Neoteric-32A8.ttf);
}

@font-face {
    font-family: Above;
    src: url(fonts/Above.ttf);
}

@font-face {
    font-family: Smooch;
    src: url(fonts/Smooch.ttf);
}

body {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 38px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
}

:root{
    /*    --e: #e9ecef;    */
    --grey_h: 0;
    --grey_s: 0%;
    --grey_l: 18%;
    --darkgrey: hsl(var(--grey_h), var(--grey_s), calc(var(--dark) + var(--grey_l) + 8%));
    --grey: hsl(var(--grey_h), var(--grey_s), calc(var(--normal) + var(--grey_l)));
    --lightgrey: hsl(var(--grey_h), var(--grey_s), calc(var(--light) + var(--grey_l)));

   
    --dark: 0%;
    --normal: 50%;
    --light: 75%; 

    --future_font: Smooch;
    --fancy_font: AdventPro-Light;
    --normal_font: Rajdhani-Regular;
    --bold_font: Atarian
}