.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: var(--future_font);
    /*position: relative;
    text-align: center;*/ 
    z-index: 1;
}

.content .horizontal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.content .container{
    margin-top: 50px;
}

.content p {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 24px;
}

.content .rocket .icon img{
    border: 3px solid #FFFF;
    border-radius: 35px;
    margin-bottom: 15px;
}

.content .rocket {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
}

.content .rocket a{
    font-size: 40px;
    color: #FFA500;
    text-decoration-line: none;
}

.content .rocket a:hover{
    font-size: 40px;
    color: #ffbd42;
    text-decoration-line: underline;
}

.content .rocket h2{
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 35px;
    text-align: center;
}

.content .rocket p{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}