.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: var(--future_font);
    /*position: relative;
    text-align: center;*/ 
    z-index: 1;
}

.content .horizontal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 7vh;
}

.content .container{
    margin-top: 7vh;
}

.content p {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 24px;
}

.content .rocket .icon img{
    border: 3px solid #FFFF;
    border-radius: 35px;
    margin-bottom: 15px;
}

.content .rocket {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
}

.content .rocket a{
    font-size: 40px;
    color: #FFA500;
    text-decoration-line: none;
}

.content .rocket a:hover{
    font-size: 40px;
    color: #ffbd42;
    text-decoration-line: underline;
}

.content .rocket h2{
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 35px;
    text-align: center;
}

.content .rocket p{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}


/*-------------------


*/

.social-media {
    width: 100vw; 
    background-image: url(../images/social_media_background.png);
    background-size: fit;
    background-position: 50% 60%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 30px;
    padding-bottom: 30px;
}

.social-media > h2 {
    color: var(--customwhite);
    font-size: 50px;
    margin: 20px;
    margin-top: 0px;
}

.social-media > div {
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
}

.social-media > div a img {
    width: clamp(0px, 18vw, 200px); 
    object-fit: contain;

    transition: all .2s ease-in-out;
}
.social-media > div a img:hover {
    transform: scale(1.08);
}

.about-banner {
    width: 100vw; 
    background-color: var(--darkblue);

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 30px;
    padding-bottom: 30px;

    gap: 40px;
}
.about-banner > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: var(--customwhite);  
    text-align: left;

    height: min-content;
    
}
.about-banner > div > h1 {
    font-size: clamp(20px, 8vw, 50px);

    margin: 0px;
    padding: 0px;
}
.about-banner > div > p {
    font-size: clamp(0px, 5vw, 30px);

    margin: 0px;
    padding: 0px;
    line-height: 1em;
}

.about-banner > img {
    border-radius: 20%;
    width: clamp(0px, 40vw,200px);
    height: clamp(0px, 40vw,200px);
}

.about-banner a {
    font-size: clamp(0px, 3vw, 20px);
    color: lightgrey;  
    text-decoration: none;

    transition: all .2s ease-out;
    margin-top: 1em;
}
.about-banner a:hover {
    transform: translateX(5px);
}

/*
<div class="horizontal-container" style="width: 100vw; background-color: var(--darkblue)">
    <div style="margin-bottom: 0vw; margin-right: 3vw;">
        <h1 style="color: var(--customwhite); font-size: clamp(20px, 8vw, 50px); text-align: left;">Welcome to the YM Design Club</h1>
        <p style="text-align: left; font-size: clamp(0px, 5vw, 30px);">some about us infomation aaaaaaaaaaaaaaaa<br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </div>
    <div>
        <img src="images/favicon.png" style="
                border: 3px solid var(--invisible);
                border-radius: 20%;
                width: clamp(0px, 40vw,200px);
                height: clamp(0px, 40vw,200px);
                float: left;
                margin: clamp(0px, 8vw, 40px);
        ">
    </div>
</div>

*/