@font-face {
    font-family: Atarian;
    src: url(fonts/SFAtarianSystem.ttf);
}

@font-face {
    font-family: Neoteric;
    src: url(fonts/Neoteric-32A8.ttf);
}

@font-face {
    font-family: Above;
    src: url(fonts/Above.ttf);
}

@font-face {
    font-family: Smooch;
    src: url(fonts/Smooch.ttf);
}


body {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 38px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: Smooch, sans-serif;
    /*position: relative;
    text-align: center;*/ 
    z-index: 1;
}

.content .container{
    margin-top: 50px;
}

.content p {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 24px;
}

.content .rocket .icon img{
    border: 3px solid #FFFF;
    border-radius: 35px;
    margin-bottom: 15px;
}

.content .rocket {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
}

.content .rocket a{
    font-size: 40px;
    color: #FFA500;
    text-decoration-line: none;
}

.content .rocket a:hover{
    font-size: 40px;
    color: #ffbd42;
    text-decoration-line: underline;
}

.content .rocket h2{
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 35px;
    text-align: center;
}

.content .rocket p{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}