@import "global.css";

.navbar {
    display: flex;
    flex-direction: row;
    
    background-color: var(--darkgrey);
    /*transform: translate(0px, -6px);*/
    align-items: center;

    box-shadow: 0px 2px 15px 5px rgb(0, 0, 0);

    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 2;
}

.navbar .navbar-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;


    /*width: 100%;*/
    flex: 1 1 auto;

    height: clamp(20px, calc(19px + 1ch + 19px), 80px) calc(19px + 19px + 1.5rem);
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar .navbar-pages a {
    display: block;
    font-family: Smooch, sans-serif;
    line-height: 42px;
    font-size: clamp(1rem, 10vw, 2.5rem);
    color: white;
    padding: clamp(1px, 5vw, 19px) clamp(1px, 1vw, 32px);
    text-decoration: none;
    text-shadow: 2px 2px black;
}

.active { /* what's this for? -Bryan */
    background-color: #111;
}

.navbar .navbar-pages a:hover {
    background-color: #262626;
}

/* this is the css for when the join button was in the navbar */
.navbar #join-btn {
    background-color: greenyellow;
    color: white;
    border-radius: 10px; 

    padding: 5px 10px;
    margin-right: 10px;

    font-family: Smooch, sans-serif;
    font-size: clamp(1rem, 10vw, 2.5rem);
    text-decoration: none;
    text-shadow: 2px 2px green;
}
.navbar #join-btn:hover {
    background-color: rgb(115, 236, 45);
}
