@import "global.css";

.navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: clamp(20px, calc(19px + 1ch + 19px), 80px) calc(19px + 19px + 1.5rem));
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--darkgrey);
    /*#3d3d3d*/
    transform: translate(0px, -6px);
}

.navbar a {
    display: block;
    font-family: Smooch, sans-serif;
    line-height: 42px;
    font-size: clamp(1rem, 10vw, 2.5rem);
    color: white;
    padding: clamp(1px, 5vw, 19px) clamp(1px, 1vw, 32px);
    text-decoration: none;
    text-shadow: 2px 2px black;
}

.active {
    background-color: #111;
}

.navbar a:hover {
     background-color: #262626;
}

.sticky {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 2;
}