.navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: clamp(20px, calc(19px + 1ch + 19px), 80px) calc(19px + 19px + 1.5rem));
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3d3d3d;
    transform: translate(0px, -6px);
}
/*
.navbar a{
    display: inline-block;
    transform: translate(0%,-2%);
    border: 0px;
}*/

.navbar a {
    display: block;
    font-family: Smooch, sans-serif;
    line-height: 42px;
    font-size: clamp(0.5rem, 20vw, 2.5rem);
    color: white;
    padding: clamp(19px, 5vw, 19px) clamp(10px, 2vw, 32px);
    text-decoration: none;
    text-shadow: 2px 2px black;
}

.active {
    background-color: #111;
}

.navbar a:hover {
     background-color: #262626;
}

.sticky {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 2;
}